
# textprocess_v2 text entries
_textentries

# text-process-classic text entries
.TextEntries

# generated text installer
Install\ Text\ Data.event

# generate text definitions
Text\ Definitions.event
